body{
	margin: 0 auto;
}
.photos{
	position: relative;
}
.photo{
	position: absolute;
	top: 10px;
	left: 180px;
	width:1024px;
	height: 500px;	
}
.tabs{
	position: absolute;	
	width: 80px;
	height: 80px;
	font-size: 60px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	line-height: 80px;
	text-align: center;
	cursor: pointer;
}
.tab1{
	position: absolute;
	left: 180px;
	top: 200px;
}
.tab2{
	position: absolute;
	left: 1125px;
	top: 200px;
}
.nums{
	position: absolute;
	top: 410px;
	left: 600px;
	
}
.num{
    float: left;
	width: 40px;
	height: 40px;
	background-color:dodgerblue ;
	color: #fff;
	margin-right: 8px;
	list-style: none;
	text-align: center;
	line-height: 40px;
	border-radius: calc(50%);
	cursor: pointer;
}
.appiont{
	background-color: red;
}
